/* basic elements */
html {
	margin: 0;
	padding: 0;
	height: 100%;
	}
	
body { 
	font: 100% helvetica, sans-serif;
	line-height: 1.8em;
	color: #555753; 
	margin-left: 10%; 
  	margin-right: 10%;
  	height: 100%;
	}
	
p { 
	margin-top: 0; 
	/* Center horizontally*/
        text-align: left;
	}


h1 { 
	font: bold 3em Helvetica;
	letter-spacing: 0.03em;
	text-align: center;
	color: rgb(186 218 85);

}

h2 { 
	font: narrow 2em Helvetica;
	font-weight: 600;
	font-style: oblique;
	letter-spacing: 0.01em;
	text-align: center;
}

h3 { 
	font: bold normal 1.4em georgia, sans-serif;
	letter-spacing: 0.1em; 
	margin-bottom: 1em;
	}
	
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
	
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
	
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
	
figure {
  border-top: none;
  padding-top: 0;
  float: left;
  width: 50%
  }

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 0.1em; 
	}

/* specific divs (classes) */

.small {
  font-variant: small-caps;
  }

.italic {
  font-style: italic;
  margin-top: 0
  }
  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

.quote {
  padding-left: 1em; 
  display:block
  }

.column {
  float: left;
  width: 45%;
  padding: 0.1em;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} 
.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  outline: dashed 1px black;
}


div, iframe {
    margin: 0 auto;
    background-color: #777;
}

iframe {
    display: block;
    border-style:none;
    border: 0;
}
  

